{% extends  'base-admin.html.twig' %}

  {% block body %}
      <body>
      {% if app.environment == 'test' %}
          <div id="test-info-controller-route" style="display: none;">{{ app.request.attributes.get("_route") }}</div>
          <div id="test-info-controller-name" style="display: none;">{{ app.request.attributes.get("_controller") }}</div>
      {% endif %}

      {% block header %}
          <header class="header">
              <nav class="navbar navbar-expand-lg ">
                  <div class="search-box">
                      <button class="dismiss"><i class="icon-close"></i></button>
                      <form id="searchForm" action="#" role="search">
                          <input type="search" placeholder="Search Now" class="form-control">
                      </form>
                  </div>
                  <div class="container-fluid ">
                      <div class="navbar-holder d-flex align-items-center justify-content-between">
                          <div class="navbar-header">
                              <a href="index.html" class="navbar-brand">
                                  <div class="brand-text brand-big hidden-lg-down"><img src="{{ asset(domainPath~'/img/logo-white.png') }}"
                                                                                        alt="Logo" class="img-fluid">
                                  </div>
                                  <div class="brand-text brand-small"><img src="{{ asset(domainPath~'/img/logo-icon.png') }}" alt="Logo"
                                                                           class="img-fluid"></div>
                              </a>
                              <a id="toggle-btn" href="#" class="menu-btn active">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </a>
                          </div>
                      </div>

                  </div>
              </nav>
          </header>
      {% endblock %}


      <div class="page-content d-flex align-items-stretch">

          <!--***** SIDE NAVBAR *****-->
          <nav class="side-navbar">
              <div class="sidebar-header d-flex align-items-center">
                  <div class="avatar"><img src="{{ asset(domainPath~'/img/avatar-1.jpg') }}" alt="..." class="img-fluid rounded-circle"></div>
                  <div class="title">
                      <div class="h4">Steena Ben</div>
                  </div>
              </div>
              <hr>
              <!-- Sidebar Navidation Menus-->
              <ul class="list-unstyled">

                  <li class="{{ app.request.get('_route') == 'symka_core_admin_index' ? 'active' }}"><a href="{{ path('symka_core_admin_index') }}"><i class="fa fa-home"></i>Home</a></li>
                  <li class="{{ app.request.get('_route') == 'ssite.config.controller.index' ? 'active' }}"><a href="{{ path('site.config.controller.index') }}"><i class="fa fa-gear"></i>Site Setting</a></li>
                  <li class="{{ app.request.get('_route') == 'deleted.items.basket.controller.index' ? 'active' }}"><a href="{{ path('deleted.items.basket.controller.index') }}"><i class="fa fa-trash"></i>Basket</a></li>

              </ul>

          </nav>

          <div class="content-inner">

              {% block contentTitle %}

              {% endblock %}

              {% block message %}

                  {% for message in app.flashes('success') %}
                      <div class="alert alert-success" {{ testTag('Symka\\Core\\Interfaces\\SymkaWebTestInterface::SUCCESS_MESSAGE',  app.request.get('_controller')) | raw }}>
                          {{ message }}
                      </div>
                  {% endfor %}

                  {% for message in app.flashes('error') %}
                      <div class="alert alert-danger" {{ testTag('Symka\\Core\\Interfaces\\SymkaWebTestInterface::ERROR_MESSAGE',  app.request.get('_controller')) | raw }}>
                          {{ message }}
                      </div>
                  {% endfor %}

              {% endblock %}

              {% block content %}

              {% endblock %}

              {% block footer %}
                  {#  <div class="row" id="report4">
                        <div class="col-md-3">
                            <div class="card text-center social-bottom sb-fb">
                                <i class="fa fa-facebook"></i>
                                <div>3250 +</div>
                                <p>Likes</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center social-bottom sb-tw">
                                <i class="fa fa-twitter"></i>
                                <div>2345 +</div>
                                <p>Following</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center social-bottom sb-gp">
                                <i class="fa fa-google-plus"></i>
                                <div>1253 +</div>
                                <p>Followers</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center social-bottom sb-in">
                                <i class="fa fa-instagram"></i>
                                <div>4524 +</div>
                                <p>Likes</p>
                            </div>
                        </div>
                    </div>#}
              {% endblock %}
          </div>
      </div>
      {% block javascripts %}
          <script src="{{ asset(domainPath~'/js/jquery.min.js') }}"></script>
          <script src="{{ asset(domainPath~'/js/popper/popper.min.js') }}"></script>
          <script src="{{ asset(domainPath~'/js/tether.min.js') }}"></script>
          <script src="{{ asset(domainPath~'/js/bootstrap.min.js') }}"></script>
          <script src="{{ asset(domainPath~'/js/jquery.cookie.js') }}"></script>
          <script src="{{ asset(domainPath~'/js/jquery.validate.min.js') }}"></script>
          {#<script src="{{ asset(domainPath~'/js/chart.min.js') }}"></script>#}
          <script src="{{ asset(domainPath~'/js/front.js') }}"></script>

          <!--Core Javascript -->
          {#<script src="{{ asset(domainPath~'/js/mychart.js') }}"></script>#}

      {% endblock %}




      {% block javascriptsBody %}

      {% endblock %}

      </body>
  {% endblock %}