{% extends '@SymkaCoreBundle/Resource/views/admin/layout.html.twig' %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{% form_theme form '@SymkaCoreBundle/Resource/views/form/symka_bootstrap_4_layout.html.twig' %}


{% block contentTitle %}
    <div class="card card-inverse card-info">
        <div class="card-body">
            <h1 class="card-title" {{ testTag((id is empty ? 'H1_INDEX_PAGE' : 'H1_INDEX_PAGE_UPDATE'),  app.request.get('_controller'), 'Create') | raw }}>
                    Site Setting {{ id is empty ? 'Create New' : 'Update #'~id }}
            </h1>
        </div>

        <div class="card-footer">

            <div class="float-left">
                <a href="{{ path('symka_core_admin_index') }}" {{ testTag('Symka\\Core\\Tests\\Controller\\AdminControllerIndexTest::H1_INDEX_PAGE',  app.request.get('_controller')) | raw }}>Admin</a> /
                <a href="{{ path('site.config.controller.index') }}" {{ testTag('Symka\\Core\\Tests\\Controller\\SiteConfigControllerIndexTest::H1_INDEX_PAGE',  app.request.get('_controller')) | raw }}>Site setting</a> /
                <strong> {{ id is empty ? 'Create New' : 'Update #'~id }} </strong>
            </div>
            <a href="{{ path('site.config.controller.index') }} {{ testTag('Symka\\Core\\Tests\\Controller\\AdminControllerIndexTest::RETURN_INDEX_PAGE',  app.request.get('_controller')) | raw }}" class="btn btn-warning float-right"><i
                        class="fa fa-arrow-circle-left"></i> Cancel</a>
        </div>
    </div>

{% endblock %}

    {% block content %}
       {{ form_start(form) }}
        <div class="card card-inverse card-info">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.name) }}
                        {{ form_row(form.domain) }}
                        {{ form_row(form.status) }}

                        {{ form_row(form.templatePath) }}
                        {{ form_row(form.adminTemplatePath) }}
                    </div>


                    <div class="col-sm-6">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                    Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small>
                    {% if form.vars.value.status is constant('Symka\\Core\\Entity\\SiteConfigEntity::STATUS_ACTIVE') %}

                        {% if form.vars.value.updatedAt is not empty %}
                            Last update: {{ form.vars.value.updatedAt | date('d.m.Y') }}
                        {% elseif form.vars.value.createdAt is not empty %}
                            Created At: {{ form.vars.value.createdAt | date('d.m.Y') }}
                        {% endif %}

                    {% elseif form.vars.value.status is constant('Symka\\Core\\Entity\\SiteConfigEntity::STATUS_IN_DEVELOP') %}
                        Updated At: {{ form.vars.value.updatedAt | date('d.m.Y') }}
                        <span class="badge badge-pill badge-warning">In develop</span>
                    {% elseif form.vars.value.status is constant('Symka\\Core\\Entity\\SiteConfigEntity::STATUS_CLOSE') %}
                        Deleted At: {{ form.vars.value.deletedAt | date('d.m.Y') }}
                    {% endif %}

                </small>

                <div>
                    <div class="pull-right">{{ form_widget(form.saveAndCreateNew, {'icon': 'fa fa-save', attr: {class: 'btn btn-success float-right' } }) | raw }}</div>
                    <div class="pull-right" style="margin-right: 10px;">{{ form_widget(form.save, {'icon': 'fa fa-save', attr: {class: 'btn btn-primary float-right'}}) }}</div>
                </div>
            </div>

        </div>
        {{ form_end(form) }}
    {% endblock %}







